body{
    background-image: url(https://scontent.flim28-1.fna.fbcdn.net/v/t39.30808-6/427678373_704458728569584_7867047552121130495_n.jpg?stp=dst-jpg_p600x600&_nc_cat=111&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeGkuEs2b4a-iHIwMReC8H65-RSVZA1xj6j5FJVkDXGPqCznWjBqYx8M6cR-fsDwCNvhxQfjbj1HR3XUaxGbKuVk&_nc_ohc=Tz6vMShQJv4AX8GjbpB&_nc_ht=scontent.flim28-1.fna&oh=00_AfBd-AR2-5mcy6gsMZRHblufguTq3ig8YcMYwkACl05d9Q&oe=65E3E866);

    background-repeat: no-repeat;
}

#image1{
    background-image: url(https://static.wikia.nocookie.net/nanatsu-no-taizai/images/7/78/Lancelot_profile_pic.png/revision/latest/scale-to-width/360?cb=20221214223134);
}


